* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 100vh;
    background-color: black;
}

header {
    display: flex;
    width: 100%;
    padding: 20px 120px;
    height: 60px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-nav {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: left;
}

.left-nav h1 {
    display: flex;
    font-size: 50px;
    font-family: 'Lobster';
    font-weight: 900;
    color: gold;
}

.right-nav {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
}

.right-nav a {
    display: flex;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
}

main {
    display: flex;
    flex-direction: column;
    padding: 120px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cont1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 250px;
}


.left-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slackimg {
    display: flex;
    width: auto;
    max-width: 100%;
}

.slackdetails {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

.right-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    color: aliceblue;
    font-size: 150px;
    font-family: 'Beiruti';
    font-weight: 200;
    width: 73.5%;
    margin: 0;

}

.front {
    color: gold;
    font-size: 130px;
    font-family: 'Beiruti';
    font-weight: 200;
}

.goals {
    color: white;
    font-size: 24px;
    font-family: 'Beiruti';
    width: 73.5%;
    margin: 0;
    padding: 10px;
}

.cont2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.l-goals {
    display: flex;
    flex-direction: column;
}

h4 {
    display: flex;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Beiruti';
    margin: 0;
}

.learn {
    display: flex;
    color: aliceblue;
    font-size: 18px;
}

.goals-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.p-goals {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.personal {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    color: aliceblue;
}

.c-goals {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.career {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.pr-goals {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.project-list {
    display: flex;
    flex-direction: column;
    margin: 0;
}

footer {
    display: flex;
    width: 100%;
    padding: 0px 120px 0px 120px;
}

.footnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-foot {
    display: flex;
}

.left-foot h1 {
    display: flex;
    font-size: 50px;
    font-family: 'Lobster';
    font-weight: 900;
    color: gold;
}

.middle-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
}

.right-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-foot a img {
    display: flex;
    width: 55%;
}